<script id="AddContactView" type="text/html">
<div class="AddContactView">
	<div class="modal-dialog">
		<div class= modal-content">
			<div class="modal-header">
				<div class="modal-title">Add Contact</div>
			</div>
			<div class="modal-body">
			    <div class="form-group">
        			<label class="control-label">Name:</label>
        			<input class="form-control" name="name" type="text" placeholder="Name">
        		</div>
			    <div class="form-group">
        			<label class="control-label">Email:</label>
        			<input class="form-control" name="email" type="text" placeholder="Email">
        		</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default cancel">Cancel</button>
				<button type="button" class="btn btn-primary create">Save</button>
			</div>
		</div>
	</div>
</div>
</script>